@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap");
* {
  padding: 0;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  font-size: 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.botonesSup, .containerCardsSugerencias, .containerBotonCapturar, .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.acciones:hover {
  display: none;
}

.top {
  margin-left: -100px;
  height: 23px;
  width: 100vw;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
          box-shadow: 0 1px 0 0 #ffffff;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4px;
}

button {
  border: none;
  outline: none;
}

header {
  display: block;
}

.logo {
  margin-bottom: 16px;
  margin-right: -9px;
  margin-top: 35px;
}

.botonBarraEspaciado {
  margin-right: 16px;
}

.dimensionesBarra {
  width: 134px;
  height: 36px;
}

.botonMisGuifOs {
  margin-left: 16px;
}

.dimensionesBarraSuperiorDegrade {
  width: 1194px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
}

.containerDropdown {
  width: 170px;
}

.elementoDropDownWidth {
  width: 170px;
  height: 102px;
  padding-top: 7px;
  padding-left: 10px;
}

.botonesSup {
  width: 100%;
}

.dimEspaciado {
  position: relative;
  width: 81px;
  height: 34px;
  bottom: 60px;
  left: 10px;
}

.dimensionCardSugerencia {
  width: 288px;
  height: 313px;
}

.tituloBienvenida {
  margin-left: 7px;
}

.buscarGif {
  width: 1057px;
  height: 48px;
  padding: 13px;
  margin: 12px 7px 12px 15px;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.botonesBarra {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.botonBuscar {
  width: 102px;
  height: 36px;
  background: #e6e6e6;
  color: #b4b4b4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.tituloBuscador {
  color: white;
  font-size: 14px;
}

.spaceTitulo {
  top: 0;
  margin-top: 0.19rem;
}

.closeIMG {
  margin-right: 4px;
}

.tituloCards {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin-bottom: 19px;
  height: 32px;
  width: 1200px;
}

.espaciadoTituloCards {
  padding: 7px;
}

.containerDropdown, .containerBuscador, .dimensionesProcessGif, .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerBuscador {
  width: 1200px;
  height: 99px;
}

.sugerenciasDeBusqueda {
  width: 100%;
  height: 10rem;
}

.sugerenciasDeBusqueda {
  padding: 1.03rem 8rem 1rem 0.94rem;
  z-index: 1;
}

.sugerenciaEncontrada {
  width: 66.06rem;
  height: 2.25rem;
  padding: 0.38rem 15rem 0.38rem 1rem;
}

.sugerenciaEncontrada:hover {
  outline: 0.06rem dotted #110038;
  outline-offset: -0.04rem;
  border: 1px solid #110038;
}

.interlineado {
  margin-bottom: 0.69rem;
}

.cardEspaciado {
  margin-right: 20px;
}

.cardEspaciadoTendencia {
  margin-right: 10px;
}

header {
  display: inline-block;
}

.containerCardsFila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
}

.containerCards {
  margin-top: 36px;
  width: 1194px;
}

.cabezal {
  color: white;
  font: "Chakra Petch", sans-serif;
  font-size: 14px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.19rem;
}

.dimensionesCabezalTendencias {
  margin: 3px 4px 2px 4px;
}

.dimensionesCabezalTendencias {
  width: 280px;
}

.dimensionRectangulo {
  width: 286px;
  height: 296px;
}

.font-small {
  font-size: 14px;
}

.fotoCardSugerencia {
  width: 280px;
  height: 280px;
  position: relative;
}

.fotoCard {
  width: 288px;
  height: 298px;
}

.cardFotoDimension {
  width: 294px;
  height: 304px;
  position: relative;
}

.cardFotoTrendNormal {
  width: 288px;
  height: 298px;
  position: relative;
}

.fotoDimension {
  margin: 4px;
}

.positionAbsolut {
  position: absolute;
  right: 4;
  bottom: 0;
  left: 4;
  width: 99%;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.fotoDimensionSugerencia {
  width: 100%;
  height: 100%;
  margin: 0px 4px 4px 4px;
}

.contenedorCabezal {
  display: none;
}

.contenedorCabezal :hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.estiloTituloSugerencias {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.botonPostEstructura {
  height: 34px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dimensionPost1 {
  width: 100px;
}

.dimensionPost2 {
  width: 154px;
}

.dimensionPost3 {
  width: 140px;
}

.espaciado-8 {
  margin-right: 8px;
}

.espaciado-top-12 {
  margin-top: 12px;
}

.containerCrearGifPrimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 93px 28px 25px;
}

.logoWindow {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.palabraNegrita {
  font-weight: bold;
}

span.textoNegro {
  font-weight: bold;
  font: italic bold 14px "Chakra Petch", sans-serif;
}

.elementoCerrar {
  position: relative;
  right: 10px;
}

.containerGenerarVideo {
  margin-top: 88px;
  margin-left: 18%;
  margin-bottom: 180px;
}

.containerBuscador, .containerGenerarVideo, .containerCard, .borderLight {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.posicionContador {
  position: relative;
  bottom: -10px;
  left: 9px;
}

.dimensionPrimerGeneradorVideo {
  width: 684px;
  height: 386px;
  position: relative;
}

.botonAbsolute {
  position: absolute;
}

.margenBotonCancelar {
  right: 14px;
  bottom: 16px;
}

.botonListo {
  right: 46px;
  bottom: 44px;
}

.dimensionesTercerGeneradorVideo {
  width: 700px;
  height: 548px;
  position: relative;
}

.dimensionesSegundoGeneradorVideo {
  width: 700px;
  height: 605px;
  position: relative;
}

.dimensionesUltimoGeneradorVideo {
  width: 721px;
  height: 391px;
  position: relative;
}

.interlinea {
  margin-bottom: 10px;
}

.containerBotones {
  position: relative;
  float: right;
  margin-right: 20px;
  bottom: 25px;
}

.rightButonMargin {
  margin-right: 16px;
}

.fontSizeMedium {
  font-size: 16px;
}

.tituloCrearGif {
  margin-top: 0.4rem;
  margin-left: 0.44rem;
}

.playGifSmall {
  width: 0;
  height: 0;
}

.playGif {
  width: 678px;
  height: 514px;
  margin-top: 8px;
  margin-left: 8px;
}

.containerBotonCapturar {
  width: 180px;
  height: 36px;
  margin-left: 75%;
  position: relative;
  right: 16px;
}

.espaciado-bottom {
  bottom: 25px;
}

.containerCamara {
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonCapturar {
  width: 144px;
  height: 36px;
}

.elementNone {
  display: none;
}

.marginContador {
  margin-left: 21px;
}

.rows {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load {
  width: 12px;
  height: 20px;
  padding: 2px;
}

.espaciadoBarra {
  margin-right: 2px;
}

.espaciadoRi .containerBarraProgress {
  width: 324px;
  height: 24px;
  background-color: #b4b4b4;
}

span.tachado {
  text-decoration: line-through;
}

.tituloBuscador, .tituloSugerencias {
  margin-left: 3px;
}

.lightFontSmall {
  color: #110038;
  opacity: 0.64;
  font-size: 12px;
}

.tituloSugerencias {
  margin-top: 3px;
}

.dimensionesProcessGif {
  width: 97%;
  height: 440px;
  background-color: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-left: 8px;
}

.tituloEnProceso {
  margin-bottom: 5%;
}

.displayGifCreados {
  width: 1200px;
}

.backgroundProgressBarDay {
  background-color: #f7c9f3;
}

.fondoBarraEnCurso {
  background-color: #999999;
}

.borderMedium {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.marginTitle {
  margin-bottom: 16px;
}

.marginBotton {
  margin-bottom: 14px;
}

.dimesionesGifCreado {
  width: 50%;
  height: 191px;
}

.contenedorTextoYbotones {
  width: 256px;
  height: 271;
}

.marginLeftIMG {
  margin-left: 24px;
}

.marginTopImg {
  margin-top: 27px;
}

.margin-bottom-away {
  margin-bottom: 111px;
}

.marginleftButton {
  margin-left: 74%;
}

.botonCopiarEnlaceGif {
  width: 256px;
  height: 36px;
}

.containerRelative {
  position: relative;
  width: 200px;
  height: 200px;
}

.espaciadoRenglon {
  margin-bottom: 11px;
  margin-top: 10px;
}

body {
  margin-left: 100px;
  background-color: #fff4fd;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.degrade {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.sugerenciaEncontrada {
  background-color: #f0f0f0;
}

.sugerenciaEncontrada:hover {
  background-color: #dbdbdb;
}

.sugerenciaEncontrada, .sugerenciaEncontrada:hover {
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.borderVideoGif {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.botonBarra {
  background-color: #f7c9f3;
  color: #110038;
  background-color: #f7c9f3;
}

.botonBarra, .estiloBotonBuscar:hover {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.dropdown-content {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.elementoDropDown {
  width: 150px;
  height: 36px;
  padding-top: 7px;
  padding-left: 16px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.buscador {
  height: 6.19rem;
}

.estiloBotonBuscar:hover {
  background: #f7c9f3;
}

.containerCardTendencia {
  width: 294px;
  height: 304px;
}

.containerBuscador, .containerGenerarVideo, .containerCard, .borderLight {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.botonExpandible {
  background-color: #f7c9f3;
  color: #110038;
  font-size: 16px;
  width: 36px;
  height: 36px;
  border-left: 1px solid navy;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.sugerenciaVerMas {
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: white;
}

.botonPost {
  background-color: #4180f6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: white;
}

.botonCancelar {
  background-color: #fff4fd;
}

.backgroundContainer {
  background-color: #e6e6e6;
}

.backgrundBotonCapturar {
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.borderRectangle {
  width: 124px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.espaciado {
  padding: 30px;
}

.punteada {
  background-color: white;
  background: #f7c9f3;
  border: 1px dotted;
  width: 127px;
  height: 32px;
}

.textoNormalBoton:hover {
  display: none;
}
/*# sourceMappingURL=styles.css.map */